@media screen and (max-width: 800px){
    /* HOME */
    .contenedor{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    header{
        width:375px;
        height: 5.5rem;
        display: flex;
        justify-content: center
    }
    header img{
        width: 10rem;
        height: 4.5rem;
    }
    .directorio{
        background-color: var(--celeste);
        width: 375px;
        height: 45px;
        display: flex;
        font-size: 0.9rem;
    }
    .directorio a{
        color: aliceblue;
        text-decoration: none;  
        margin: 0 0.5rem 0 0.5rem;
        
    }
    .portada img{
        width: 375px;
        height: 15rem;
    }
    .info{
        display: flex;
        flex-direction: column;
        
    }
    .info div{
        width: 100%;
        height: 299px;
        margin-top: 32px;
        background-color: rgba(170, 170, 170, 0.15); 
    }
    h1{
        font-size: 16px;
        font-weight: 600;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .info p{
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        text-align: justify;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 2rem;
    }
    .equipo{
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    .integrantes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .integrantes h1{       
        font-size: 18px;
        line-height: 21px;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .integrantes p{
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 2rem;
    }
    .integrantes img{
        width: 14rem;
        height: 14rem;
        border-radius: 15rem;
        margin-left: 1.5rem;
    }
    .barra{
        margin-top: 4.5rem;
        background-color: #07396B;
        width:100%;
        height: 3rem;
    }

    /* contactos */
    .cont{
        margin-top:2rem ;
        width: 35rem;
        height: 30rem;
        display: flex;
        justify-items: center;
    }
    .cont img{
        width: 8rem;
        height: 10rem;
        margin-top: 4rem;

    }
    .reds{
        margin-top: -16rem;
        margin-left: -1rem;
    }
    .reds h1{
        color: #07396B;
        font-size: 1.5rem;
        text-align: center;
    }
    .reds img{
        width: 2rem;
        margin-top: 2rem;
        display: flex;
    }
    .flotante img {
        width: 2rem;
        height: 2rem;
        margin-left: 4.5rem;
        margin-top: 2rem;
        background-color: rgba(175, 204, 172);
        border-radius: 15rem;
    }
    .reds h2{
        font-size: 15px;
        margin-left: 8rem;
        margin-top: -1.5rem;
    }
    .flotante h3{
        font-size: 15px;
        margin-left: 7.3em;
        margin-top: -1.7rem; 
    }

    /* galery */
    .fotos{
        display: flex;
        flex-direction: column;
    }
.fotos img{
    width: 15rem;
    height: 10rem;
    position: relative;
    margin-left: -4rem;
    }
    .fotos p{
        font-size: 0.9rem;   
        font-weight:550;
        margin-left:-4rem;
    }
    .barra{
        height: 2.5rem;
    }
}